.home {
    display: grid;
    padding: 10px;
    grid-template-columns: auto;
    justify-items: center;
}

.separador {
    width: calc(100% - 30px);
    height: 1px;
    background-color: #fff;
    margin: 25px 0;
    border-radius: 4px;
}

